bin/
out/
gen/
target/
R.java
.settings/
*.class

local.properties
*.apk
*.ap_
*.dex

test.xml
DEPLOYMENT/
KEYSTORE/
images/
ucdetector_reports/
GPSLogger/gen-external-apklibs/


workspace.xml
tasks.xml
