<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>GPSLogger for Android</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300">
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
    {{ content }}
</body>

</html>