<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mendhak.gpslogger"
          android:installLocation="auto"
    >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
                     tools:ignore="MockLocation"/>

    <application
        tools:replace="android:theme"
        android:allowBackup="true"
        android:icon="@drawable/gpsloggericon3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.mendhak.gpslogger.common.AppSettings"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".GpsLoggingService" android:exported="true">
            <intent-filter>
                <action android:name="com.mendhak.gpslogger.GpsLoggingService" />
            </intent-filter>
        </service>

        <service android:name=".AndroidWearListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />

            </intent-filter>
        </service>

        <activity
            android:name=".GpsMainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustNothing"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPreferenceActivity"
            android:label="@string/settings_screen_name"
            android:parentActivityName=".GpsMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mendhak.gpslogger.GpsMainActivity" />
            <intent-filter>
                <action android:name="com.mendhak.gpslogger.MAIN_PREFS" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="authorize" android:scheme="gpslogger" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Faqtivity"
            android:label="@string/faq_screen_title"
            android:launchMode="singleTask"
            android:parentActivityName=".GpsMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mendhak.gpslogger.GpsMainActivity" />
        </activity>

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:parentActivityName=".GpsMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mendhak.gpslogger.GpsMainActivity" />

            <intent-filter>
                <!-- Set from build.gradle, see defaultConfig -->
                <!--suppress AndroidDomInspection -->
                <data android:scheme="@string/DROPBOX_DB_SCHEME" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.ShortcutCreate"
            android:theme="@style/Theme.AppCompat.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shortcuts.ShortcutStart"
            android:theme="@style/Theme.AppCompat.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shortcuts.ShortcutStop"
            android:theme="@style/Theme.AppCompat.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".StartupReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".senders.AlarmReceiver" />

        <!--android:theme="@style/Theme.AppCompat.Translucent"-->
        <activity
            android:name=".NotificationAnnotationActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Translucent"
            android:excludeFromRecents="true"
            >
            <intent-filter>
                <action android:name="android.intent.category.DEFAULT" />
                <category android:name="com.mendhak.gpslogger.NOTIFICATION_BUTTON" />
            </intent-filter>
        </activity>

        <provider android:name=".common.ContentApi" android:authorities="com.mendhak.gpslogger" android:exported="true"
                  tools:ignore="ExportedContentProvider"/>

    </application>

</manifest>
