<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mendhak.gpslogger" android:versionCode="8"
	android:versionName="1.0.8">
	<application android:icon="@drawable/gpsloggericon2"
		android:name="@string/app_name" android:label="@string/app_name"
		android:debuggable="true">
<!-- 		<activity android:name="com.mendhak.gpslogger.GpsServiceClient"
		android:label="@string/app_name" android:launchMode="singleTask" android:configChanges="locale">
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
		</activity> -->
		
		<service android:name="com.mendhak.gpslogger.GpsLoggingService">
			<intent-filter>
			<action android:name="com.mendhak.gpslogger.GpsLoggingService" />
			</intent-filter>
		</service>
		
		 <activity android:name="com.mendhak.gpslogger.GpsMainActivity"
			android:label="@string/app_name" android:screenOrientation="portrait"
			android:launchMode="singleTask" android:configChanges="locale">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity> 

		<activity android:name="com.mendhak.gpslogger.GpsSettingsActivity"
			android:label="@string/settings_screen_name"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name="com.mendhak.gpslogger.SeeMyMapSetupActivity"
			android:label="@string/seemymap_setup_title"
			android:screenOrientation="portrait">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="com.mendhak.gpslogger.SEEMYMAP_SETUP" />
			</intent-filter>
		</activity>
		<activity android:name="com.mendhak.gpslogger.AutoEmailActivity"
			android:label="@string/autoemail_title" android:screenOrientation="portrait">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="com.mendhak.gpslogger.AUTOEMAIL_SETUP" />
			</intent-filter>
		</activity>

		<receiver android:enabled="true"
			android:name="com.mendhak.gpslogger.helpers.StartupReceiver"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

		</receiver>
		
		<receiver  android:name="com.mendhak.gpslogger.helpers.AlarmReceiver">
		</receiver>


	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />

		<supports-screens android:smallScreens="true"
			android:normalScreens="true" android:largeScreens="true"
			android:anyDensity="true" />

</manifest> 

