name: Android CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew assembleDebugUnitTest -Dpre-dex=false
    - name: Run Unit Tests
      run: ./gradlew testDebugUnitTest -Dpre-dex=false -q
